<?xml version="1.0" encoding="UTF-8" ?>

<suite name="Suite" verbose="1" >

    <test name="Test" paraller="classes" data-provider-thread-count="3">
        <classes>
            <class name="tests.facebook.tests.Facebook_Task1"></class>
            <class name="tests.wallethub.test.WalletHub_Task2"></class>
        </classes>
    </test>
</suite>
